<!-- Navigation -->
<app-nav-bar></app-nav-bar>



<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      
      <div class="carousel-item active" >
        <img src="assets/img/woman-2701154_1280.jpg" class="d-block w-100" alt="..." style="height: 500px;">
      </div>

      <div class="carousel-item " >
        <img src="assets/img/graduation-879941_1280.jpg" class="d-block w-100" alt="..." style="height: 500px;">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>



  <section class="jumbotron text-center">
    <div class="container">
      <h1>Annuaire des universités et facultés privées à Tunis</h1>
      <p class="lead text-muted"></p>
      <p>
        <a routerLink="/universites" class="btn btn-primary my-2" >Savoir plus</a>
      </p>
    </div>
  </section>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mt-4">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Un pas vers l’autonomie en université, et un cadre sécurisant dans le privé</h1>
      <p class="lead my-3">Un premier critère important à prendre en compte pour faire le choix entre université et école privée est la capacité et la volonté à travailler de manière autonome. En effet, l’université offre une plus grande liberté et plus d’autogestion. </p>
      
    </div>
  </div>



  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Des diplômes reconnus</h3>
          <p class="card-text mb-auto">Certaines écoles privées ne sont pas reconnues par l’État. Aussi les examens de fin d’études ne sont pas validés par un diplôme mais par un certificat. La qualité de la formation peut être très bonne mais il est important de garder en tête que cela ne délivre pas nécessairement un diplôme reconnu par l’État, ce qui sera toujours le cas à l’issu d’une formation universitaire.</p>
          <a routerLink="/universites" class="stretched-link">Savoir plus</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="assets/img/master-itbs-formation-box.jpg">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">La reconnaissance sur le marché du travail</h3>
          <p class="mb-auto">L’objectif final des études est de trouver un emploi. Et, d’après les derniers chiffres du Ministère de l’Enseignement supérieur et de la Recherche, le taux d’insertion professionnelle des diplômés de master est en progression. </p>
          <a routerLink="/universites" class="stretched-link">Savoir plus</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250" src="assets/img/itbs-etudiant-ecole-superieure-tunisie-3.jpg">
        </div>
      </div>
    </div>
  </div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>